.footer {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 32px;
    background-color: $light-gray;
    color: $dark-gray;
    .back-top {
        padding: 16px 0;
        a {
            width: 100%;
        }
    }
    .logo-box {
        display: inline-block;
        width: auto;
        background-color: $dark-gray;
        padding: 3px 5px;
        margin: 0;
        color: #fff;
        font-size: 12px;
    }
    .footer-list {
        margin-top: 16px;
        margin-bottom: 16px;
        max-width: 480px;
        align-items: flex-start;
        flex-direction: column;
        a {
            display: inline-block;
        }
        a+a {
            margin-top: 16px;
        }
        @media (min-width: 576px) {
            flex-direction: row;
            a+a {
                margin-top: 0;
            }
        }
    }
}