.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .header-inner {
        .gp-logo {
            position: relative;
            top: 2px;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: $g-bg-green;
            background-color: transparent;
            border: 2px solid #fff;
            img {
                padding: 2px;
                width: 100%;
                height: auto;
            }
        }
    }
}