.hero {
    position: relative;
    height: 100vh;
}

.hero--bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ddd;
    background-image: url("../assets/img/MG_4076.jpg");
    background-size: cover;
    background-position: left center;
}

.hero--layer {
    z-index: -1;
    position: absolute;
    left: -50%;
    bottom: -50%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
}

.hero--bite {
    position: absolute;
    right: 0;
    top: 0;
    padding: 80px 8px 0;
    color: $grey-8;
    &:before {
        content: "“";
        position: absolute;
        left: -40px;
        top: 0;
        font-size: 80px;
        color: $grey-8;
    }
    p {
        font-size: 24px;
    }
}

.hero--wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero--title {
    width: 50%;
    max-width: 450px;
    padding: 16px 8px;
    margin-right: 20px;
    color: #fff;
    h1 {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    p {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 4px;
    }
}

.hero--swiper {
    width: 50%;
    padding: 16px 8px;
    img {
        width: 100%;
        max-width: 600px;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 90%;
    }
    .material-placeholder {
        display: flex;
        justify-content: center;
    }
}

//
section.section--story {
    background-color: #ddd;
}

.sound-site {
    h3 {
        position: relative;
        &:before {
            content: "“";
            position: absolute;
            left: -40px;
            top: 0;
            font-size: 80px;
            color: rgba(0, 0, 0, 0.816);
        }
    }
}