.theme-control {
    font-size: 13px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .control-options {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        .material-icons {
            font-size: 24px;
        }
        span {
            transform: rotate(45deg);
            cursor: pointer;
            transition: transform 0.28s ease-in-out;
            &:hover,
            &:active {
                transform: rotate(0deg);
            }
        }
    }
}

.sub.dark {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    .pollutant-impact-info {
        p {
            color: #fff;
        }
    }
    .excess-information .excess-numbers .excess-standards:before {
        color: #ddd;
    }
    .remark {
        color: #ddd;
    }
    .pollutant-impact-term {
        color: #ddd;
    }
}

.sub {
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    color: $dark-gray;
    transition: background 0.18s ease;
    padding: 6rem 0;
}

.sub {
    &:before,
    &:after {
        content: '';
        position: absolute;
        background-image: url('../assets/img/ap_dust2.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 60vw;
        height: 60vh;
        max-width: 450px;
        max-height: 450px;
        opacity: 0.5;
        pointer-events: none;
    }
    &:before {
        right: 0;
        top: 0;
    }
    &:after {
        left: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
    header {
        font-weight: bold;
        margin-bottom: 16px;
        max-width: 960px;
        h2 {
            margin-bottom: 8px;
            font-size: 2rem;
            color: $yellow;
        }
        p {
            font-size: 14px;
            max-width: 780px;
        }
        .small {
            font-size: 12px;
        }
    }
    section+section {
        margin-top: 32px;
    }
}

// Excess
.info-options {
    margin: 16px 0 32px;
    span {
        cursor: pointer;
        background-color: #fff;
        color: #6d6d6d;
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 8px 16px;
        &:first-child {
            margin-right: 16px;
        }
        &.active {
            text-decoration: underline;
        }
    }
}

.excess-information {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            h3 {
                font-size: 24px;
                font-weight: bold;
                color: $dark-yellow;
            }
            p.excess-description {
                font-size: 14px;
            }
        }
    }
    .remark {
        font-size: 11px;
        color: #6d6d6d;
        font-weight: 300;
        margin-bottom: 8px;
    }
    .sub-info {
        .excess-description {
            margin-bottom: 16px;
        }
    }
}

.excess-numbers {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    font-size: 3rem;
    max-width: 500px;
    font-weight: 900;
    padding: 4rem 0;
    font-family: 'Montserrat', sans-serif;
    .excess-standards {
        position: relative;
        flex: 1;
        position: relative;
        span {
            font-weight: 300;
            font-size: 1rem;
            margin-left: 8px;
        }
        &:before {
            width: 100%;
            min-width: 80px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 13px;
            color: #6d6d6d;
            font-weight: 300;
        }
    }
    .aqo-standard {
        &:before {
            content: '根據AQO';
        }
    }
    .compare-standard {
        flex: 1;
        font-size: 2.4rem;
        font-weight: 300;
    }
    .who-standard {
        color: #FF3100;
        &:before {
            content: '根據WHO';
        }
    }
}

.standard-difference {
    .difference__text {
        position: relative;
        padding: 40px 0;
        font-family: 'Montserrat', sans-serif;
    }
    .aqo {
        &:before {
            content: '根據AQO';
        }
    }
    .who {
        &:before {
            content: '根據WHO';
        }
    }
    .aqo,
    .who {
        position: relative;
        display: inline-block;
        font-weight: bold;
        font-size: 2rem;
        &:before {
            width: 100%;
            min-width: 80px;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 13px;
            // word-break: keep-all;
            color: #6d6d6d;
            font-weight: 300;
        }
        p {
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
        }
    }
    .unit {
        display: inline-block;
        position: relative;
        font-weight: 400;
        font-size: 1.4rem;
    }
    .cube {
        position: absolute;
        top: 14px;
        right: -10px;
        font-size: 1rem;
    }
    .compare {
        display: inline-block;
    }
}

.img-sidebar {
    display: flex;
    flex-direction: row;
    height: 320px;
    margin-top: 2rem;
    @media (min-width: 768px) {
        height: 100%;
        flex-flow: column;
    }
    .img-sidebar__img {
        position: relative;
        flex: 1;
        background-size: cover;
        background-position: center center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s ease-in;
        will-change: transform;
        max-width: 400px;
    }
    .img--upper {
        background-image: url('../assets/img/DSC_0001_1545483708471_edited.jpg');
    }
    .img--lower {
        background-image: url('../assets/img/DSC_0001_1547305837069_edited.jpg');
    }
}

// Health Impacts
.swiper-container--white {
    mask-image: linear-gradient(to right, transparent, white 10px, white 90%, transparent);
}

.swiper-container--black {
    mask-image: linear-gradient(to right, transparent, black 10px, black 90%, transparent);
}

.impact {
    .swiper-container {
        mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    }
}

.pollutant {
    z-index: 1;
    position: relative;
    width: 90%;
    padding: 0px 8px;
    max-width: 380px;
}

.pollutant-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
    .pollutant-number {
        font-size: 11px;
        position: absolute;
        font-weight: 900;
        color: #6d6d6d;
        left: 0;
        top: 0;
    }
    .pollutant-name {
        z-index: 2;
        h3 {
            position: relative;
            font-weight: bold;
            color: $dark-yellow;
        }
    }
    .pollutant-img {
        max-width: 120px;
        max-height: 100px;
        position: relative;
        animation: float_167 3s ease-in-out infinite;
        transform-origin: 50% 50%;
        &:before {
            content: '';
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            height: 10px;
            width: 100%;
            background-color: transparent;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

@keyframes float_167 {
    0% {
        transform: translateY(0)
    }
    25% {
        transform: translateY(-10px)
    }
    50% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(0)
    }
}

.pollutant-impact-term {
    font-size: 20px;
    color: #6d6d6d;
    margin-top: 24px;
    margin-bottom: 24px;
}

.pollutant-impact-info {
    p {
        font-weight: 300;
        color: #6d6d6d;
        position: relative;
        font-size: 14px;
        margin: 0 0 8px 0;
    }
    .info-list {
        padding-left: 16px;
        margin: 0 0 4px 0;
        &:before {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            background-color: #6d6d6d;
            width: 4px;
            height: 1px;
            transform: translateX(-50%);
        }
    }
}