// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
// custom
@import 'nojs', 'mixins', 'base', 'typography', 'en/enform';

#mc-form {
  display: none;
}

::selection {
  background: $c-blue-light;
  text-shadow: none;
  color: #fff;
}

body {
  margin: 0;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.modal-open {
    overflow: hidden;
  }
}

.main {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.main-inner {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.main-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  z-index: 999;

  img {
    width: 120px;
    height: auto;
  }
}

.site-content {
  width: 100%;
  p {
    text-align: justify;
    line-height: 1.4;
  }
  p + p {
    margin-top: 20px;
  }
}

.enform {
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border: 1px solid $c-border;
  overflow-x: hidden;
  overflow-y: auto;
  .enform-container {
    width: 90%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .site-content {
    width: calc(100% - 350px);
  }
  .enform {
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .site-content {
    width: calc(100% - 400px);
  }
  .enform {
    max-width: 400px;
  }
}

.enform {
  .enform__header {
    margin-bottom: 16px;
    h2 {
      font-size: 38px;
      color: $c-cyan;
      font-weight: bold;
      margin-bottom: 8px;
      letter-spacing: 2px;
    }
    p {
      color: $c-content;
      letter-spacing: 1px;
      font-size: 13px;
    }
    .warning-list {
      margin-top: 8px;
      font-size: 10px;
      color: #f66;
    }
  }

  .en__field--lastName {
    display: block;
    width: calc(50% - 5px) !important;
    margin-right: 5px;
  }
  .en__field--firstName {
    display: block;
    // width: calc(50% - 5px) !important;
  }

  .en__field--MobileCountryCode {
    display: block;
    width: 60px;
    margin-right: 5px;
    text-align: center;
  }

  .en__field--email-ok-hongkong {
    input[type='checkbox'] {
      -webkit-appearance: checkbox !important;
      -moz-appearance: checkbox !important;
      -ms-appearance: checkbox !important;
      -o-appearance: checkbox !important;
      appearance: checkbox !important;

      width: 13px;
      height: 13px;
      margin-right: 5px;
      margin-top: 1px;
    }

    label {
      cursor: pointer;
    }
  }

  .en__submit button {
    background-color: $c-cyan;
  }

  .enform__footer {
    margin-top: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    .campaign-logo {
      width: 100px;
      height: 100px;

      img {
        padding: 2px;
        width: 100%;
        height: auto;
      }
    }
  }
}

.p-progress__participants span {
  color: $c-cyan;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.enform-progress {
  margin-top: 10px;
  margin-bottom: 10px;
  .progress-bar {
    background-color: $c-cyan;
    animation: width 2s;
  }
  .p-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    .p-progress__participants {
      color: $c-cyan;
      font-size: 13px;
    }
    .p-progress__target {
      color: rgba(0, 0, 0, 0.45);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .target-direction {
    flex: 1;
    display: flex;
    justify-content: space-around;
    .material-icons {
      font-size: 16px;
      animation: fadeInOut 2s infinite;
      animation-timing-function: ease-out;
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
    }
  }
  .p-target__goal {
    padding-left: 8px;
    font-size: 13px;
  }
}

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  50% {
    opacity: 1;
    color: $c-cyan;
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Mobile Signup */

.scroll-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  .progress-bar {
    background-color: $c-blue-light;
    height: 3px;
    width: 0%;
    transition: width 0.1s ease;
  }
}

.mobile-sign-now {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  button {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1.5;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: $c-cyan;
    color: #fff;
    transition: transform 80ms ease-in;
    &:active {
      transform: translateY(-4px);
    }
  }
  &.expand {
    padding: 8px 16px;
    background-color: #fff;
  }
  &.collapse {
    display: flex;
    height: 28px;
    background-color: #ddd;
    button {
      padding: 0;
      background-color: transparent;
      outline: 0;
      border: none;
      color: #fff;

      .material-icons {
        font-size: 20px;
      }
    }
  }
}
